<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>
Client Add (client/add.html.twig)

<pre>{{ link("/index.html", { "testing": 123 }, false) }}</pre>


</body>
</html>