<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="{{ link('/css/iframe.css') }}">
</head>
<body>
    <div id="test">Another page for Users! 1234567</div>

    <pre>{{ link('/css/iframe.css') }}</pre>

</body>
</html>